@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=PT+Sans:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: url('bg.jpg');
	background-size: cover;
	overflow: hidden;
}

.para{
	margin-top: 20%;
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
/* font-family: 'PT Sans', sans-serif; */
}

.alian-1,.alian-2,.alian-3{
	position: absolute;
}

.alian-1{
    top: 76%;
    left: 47%;
    animation: alian1Move 1s linear infinite;
}

.alian-2{
    top: 65%;
    left: 74%;
    animation: alian2Move 1s linear infinite;
}

.alian-3{
    top: 74%;
    left: 90%;
    animation: alian3Move 1s linear infinite ;
}

/*alian-1 animation starts here*/
@keyframes alian1Move{
	0%{
		top: 76%;
    	left: 47%;
	}

	50%{
		top: 69%;
    	left: 47%;
	}
	
	100%{
		top: 76%;
    	left: 47%;
	}
}
/*alian-1 animation ends here*/

/*alian-2 animation starts here*/
@keyframes alian2Move{
	0%{
		top: 65%;
        left: 74%;
	}

	50%{
		top: 58%;
    	left: 74%;
	}
	
	100%{
		top: 65%;
    	left: 74%;
	}
}
/*alian-2 animation ends here*/

/*alian-3 animation starts here*/
@keyframes alian3Move{
	0%{
		top: 74%;
    	left: 90%;
	}

	50%{
		top: 67%;
    	left: 90%;
	}
	
	100%{
		top: 74%;
    	left: 90%;
	}
}
/*alian-3 animation ends here*/

/*spaceship css starts here*/
.spaceship-1{
	position: absolute;
	right: -20%;
	top: 9%;
	animation: spaceship1move 75s linear infinite;
}

.spaceship-2{
	position: absolute;
	right: -20%;
	top: 17%;
	animation: spaceship2move 195s linear infinite;
	animation-delay: 1s;
}

.spaceship-3{
	position: absolute;
	right: -20%;
	top: 2%;
	animation: spaceship3move 295s linear infinite;
	animation-delay: 15s;
}

/*spaceship annimation start*/
@keyframes spaceship1move{
	0%{
		right: -20%;
		
	}

	50%{
		right: 110%;
		
	}

	100%{
		right: -20%;
		
	}
}

@keyframes spaceship2move{
	0%{
		right: -15%;
		
	}

	50%{
		right: 150%;
		
	}

	100%{
		right: -20%;
		
	}
}

@keyframes spaceship3move{
	0%{
		right: -20%;
		
	}

	50%{
		right: 110%;
		
	}

	100%{
		right: -20%;
		
	}
}
/*spaceship annimation start*/

/*spaceship css ends here*/


/**/
.astronaut-1 {
    position: absolute;
    top: 0%;
    left: -15%;
    animation: astronaut1Move 30s linear;
}

/*astro animation*/

@keyframes astronaut1Move{
	0%{
		top: 0%;
    	left: -5%;
	}

	100%{
		top: 30%;
 	   left: 108%;
	}
}

/*astr 2 css*/

.astronaut-2 {
    position: absolute;
    right: 5%;
    top: -50%;
    animation: astronaut2Move 10s linear;
    animation-delay: 23s;
}

/*astro 2 animation*/
@keyframes astronaut2Move{
	0%{
		right: 5%;
    	top: -50%;
	}

	100%{
		right: 105%;
    	top: 105%;
	}
}









